<div class="list">
  <h2>{{ list.title }}</h2>
  <div class="todos">

  </div>
  <div class="actions text-center">
    <button type="button" class="btn btn-danger" {{ action "delete" }}>
      Eliminar Lista
    </button>
  </div>
</div>
