body {
  background-color: #2196f3;
}

.list h2 {
  height: 1.2em;
  font-size: 18px;
  margin: 0;
}

.list .todos {
  height: 90vh;
  overflow-y: scroll;
}

.lists-container {
  width: 100%;
  overflow-x: scroll;
}

.infinite-width {
  white-space: nowrap;
}

.new-list input[type="submit"] {
  margin-top: 0.8em;
}

.lists > div {
  background-color: #e0e0e0;
  display: inline-block;
  width: 300px;
  vertical-align: top;
  margin-right: 1em;
  padding: 10px;
}

.new-list {
  padding: 1em;
}

.card {
  padding: 10px;
  background-color: white;
  margin-top: 8px;
  margin-right: 8px;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  overflow: scroll;
}

.form-hide {
  display: none;
}
