<div class="jumbotron text-center">
  <h1>{{ model.length }}</h1>
  <form {{ action "create" on="submit" }}>
    {{input type="text" class="form-control" value=listTitle placeholder="Nombre lista..."}}
    {{input type="submit" class="btn btn-success" value="Crear Lista"}}
  </form>
</div>
